.header {
    text-align: center;
    width: 55%;
    margin: 3% auto;
}

h1, h6 {
    font-weight: bold;
}

body {
    background-color: lightsteelblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: aliceblue;
    padding: 3%;
    margin: 3% auto;
    border-radius: 1rem;
}